/* navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9D9D9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  z-index: 1000;
}

.navbarbrand {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.navbarbrand:hover {
  color: whitesmoke;
  text-decoration: none;
}

.navbarCollapse {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.navbarAuto {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin-left: 1rem;
}

.navlink {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navlink:hover,
.navlink:focus {
  background-color: #dad1c2;
  color: #333;
}

.navlink:active {
  background-color: #dfdad6;
  color: #fff;
}

button.navlink {
  border: none;
  cursor: pointer;
  background: none;
  margin: 0%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
    width: 130%;
  }

  .navbarCollapse {
    flex-direction: row;
    width: 100%;
  }

  .navbarAuto {
    flex-direction: row;
    width: 50%;
  }

  .navbarItem {
    margin: 0;
    width: 100%;
  }

  .navlink {
    width: 100%;
    text-align: left;

  }
}

@media (max-width: 576px) {
  .navbarbrand {
    margin: 0.5rem 0;
  }

  .navlink {
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
    width: 96%;
  }

  .navbarCollapse {
    flex-direction: row;
    width: 100%;
  }

  .navbarAuto {
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    height: 25px;
  }

  .navbarItem {
    margin: 0.5rem 0;
    width: 100%;
  }

  .navlink {
    width: 100%;
    text-align: left;
  }
}
